
p {
    margin: 0 20px;
}
/*Landing and header */

::-moz-selection {
    /*background: #ECE9E6;*/
    color: red;
}

::selection {
    /*background: #ECE9E6;*/
    color: red;
}


header {
    width: 100%;
    height: 600px;
    left: 0;
    top: 0;
}

.header-box {
    background-image: url("../images/header.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.header-box-overlay {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.header-box-company-name {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    transform: translate(60px, 100px) rotate(90deg);
    transform-origin: left top 0;
    border-bottom: 2px solid red;
}

/* Fixed menu */

.menu{
  position: fixed;
  width: 100%;
  background: #ECE9E6;
  color: #fff;
  display: none;
}

.inverted-name {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 60px;
    /*padding-top: 2px;*/
    border-top: 2px solid red;
}

.show {
    display: block;
}

.on-top {
    z-index: 2;

}

nav{
    margin-right: 10px;
    float: right;
    display: inline;
    position: relative;
}

nav ul {
    position: absolute;
    transform: translate(-70px, 0);
}

nav ul li {
    display: none;

}

#toggle-menu-button {
    display: block;
    transition: 0.25s ease-in-out;
}

.menu-button {
    background: #ECE9E6;
    width: 80px;
    padding: 0 0;
}

/* content */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.content article {
    padding: 50px 0;
    /*max-width: 640px;
    margin: 0 auto;
    text-align: center;*/
}

img{
    max-width: 100%;
    transition: 0.55s ease-in-out;
    z-index: 1;
}


/* Showcase grid */

.showcase-gallery .figure {
    overflow: hidden;
    margin-bottom: 20px;
    background: white;
    border-bottom: 2px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.45s ease-in-out;
    position: relative;
    cursor: pointer;
}

.showcase-gallery .figure span {
    margin: 10px 5px 0 5px;
    position: absolute;
    transform: translate(0px, -200px);
    transition: 0.25s ease-in-out;
}

/* Hover effects for showcase gallery grid */

.showcase-gallery .figure:hover {
    background: #ECE9E6;
}

.showcase-gallery .figure:hover img{
    transform: translate(0px, 300px);
}

.showcase-gallery .figure:hover span {
    transform: translate(0px, 0px);
}

/* WEB PRESENCE */

.web-links {
    margin-top: 20px;
}

ul {
    width: 100%;
    list-style: none;
    margin-top: 10px;
    text-align: left;
}

ul li {
    padding-left: 5%;

}

ul i {
    margin-right: 10px;
    vertical-align: middle;
}

ul a {
    font-weight: bold;
    color: red;
    text-decoration: none;
}

/* Fixed image background*/

.fixed-image {
    width: 100%;
    height: 400px;
    background-image: url("../images/pigeons.jpg");
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

/* Contact Form */


.contact-form a{
    color: red;
    text-decoration: none;
}

.contact-bg {
    border-radius: 5px;
    background: #ECE9E6;
}

/* Footer */

footer {
    width: 100%;
    height: 50px;
    text-align: right;
    background: #ECE9E6;
    color: black;
    line-height: 50px;
}

footer span {
    font-size: 1rem;
    margin-right: 20px;
}


.fa-heart {
    color: black;
    animation: heart 6s infinite alternate;
}

@keyframes heart{
    0%{
color:blue;
}
25%/{
    color:red;
}
50%{
    color:green;
}
75%{
    color:pink;
}
100%{
    color:yellow;
    }
  }
